.DS_Store
.env
.env.*
!.env.example
.ht*
/wp-*.php
xmlrpc.php
node_modules/
wp-admin/
wp-includes/
wp-content/index.php
wp-content/plugins/
wp-content/mu-plugins/
wp-content/uploads/
wp-content/themes/index.php
wp-content/themes/twenty*
wp-content/themes/blocksy/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
local-xdebuginfo.php
/index.php
.idea/
r.php
cgi-bin
.wpe*
_wpeprivate/
apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico
wp-content/.litespeed_conf.dat
wp-content/aiowps_backups/
wp-content/db.php
wp-content/debug.log
wp-content/debug.purge.log
wp-content/litespeed/
wp-content/object-cache.php
wp-content/smush-webp/
.ftp-deploy-sync-state.json
package-lock.json