@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --narrow-container-max-width: 1024px; */
  --content-vertical-spacing: 30px;

  --custom-color-title: #101828;
  --custom-color-subtitle: #475467;
  --custom-color-primary-blue: #1470ef;

  /* --selectionTextColor: var(custom-color-primary-blue);
  --selectionBackgroundColor: var(custom-color-primary-blue); */

  /*
  --fontFamily: ct_font_satoshi, Sans-Serif;
    --fontWeight: 400;
    --textTransform: none;
    --textDecoration: none;
    --fontSize: 20px;
    --lineHeight: 1.65;
    --letterSpacing: 0em;
    --buttonFontWeight: 700;
    --buttonTextTransform: none;
    --buttonFontSize: 15px;
    --has-classic-forms: var(--true);
    --has-modern-forms: var(--false);
    --form-field-height: 50px;
    --form-field-border-radius: 0px;
    --form-field-border-initial-color: var(--border-color);
    --form-field-border-focus-color: var(--paletteColor1);
    --form-field-border-width: 2px;
    --form-selection-control-initial-color: var(--border-color);
    --form-selection-control-accent-color: var(--paletteColor1);
    --paletteColor1: #1470ef;
    --paletteColor2: #052963;
    --paletteColor3: #475467;
    --paletteColor4: #0a2d69;
    --paletteColor5: #f5faff;
    --paletteColor6: #f1f8ff;
    --paletteColor7: #FAFBFC;
    --paletteColor8: #ffffff;
    --color: var(--paletteColor3);
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor2);
    --selectionTextColor: #ffffff;
    --selectionBackgroundColor: var(--paletteColor1);
    --border-color: var(--paletteColor5);
    --headings-color: var(--paletteColor4);
    --content-spacing: 1.5em;
    --buttonMinHeight: 40px;
    --buttonShadow: none;
    --buttonTransform: none;
    --buttonTextInitialColor: #ffffff;
    --buttonTextHoverColor: #ffffff;
    --buttonInitialColor: var(--paletteColor1);
    --buttonHoverColor: var(--paletteColor2);
    --button-border: none;
    --buttonBorderRadius: 8px;
    --button-padding: 5px 20px;
    --normal-container-max-width: 1290px;
    --narrow-container-max-width: 1000px;
    --wide-offset: 130px;
*/
}

.wpseo-opening-hours {
  @apply w-full divide-y rounded-2xl bg-blue-900 text-white;
}

.wpseo-opening-hours td {
  @apply border-b py-2 text-left text-lg;
}

.wpseo-opening-hours tr:last-child td {
  /* @apply border-b-0; */
}

.gmb_reviews .review {
  /* add styles for the review container */
}

.gmb_reviews .stars {
  /* add styles for the stars container */
}

.gmb_reviews .stars img {
  /* add styles for the star images */
  height: 20px;
  width: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
  @apply px-5;
}

.progress-bar {
  width: 20px;
  height: 20px;
  @apply absolute bottom-2.5 right-2.5;
}

.progress-bar circle {
  stroke-dashoffset: 0;
  stroke: transparent;
  stroke-width: 1em; /* Increased stroke width */
}
.progress-bar .bar {
  @apply stroke-blue-300;
}

.asl-cont .sl-ddl-city {
  display: none !important;
}

#asl-storelocator.asl-cont,
#asl-storelocator.asl-cont .tooltip,
#asl-storelocator.asl-cont .adp,
#asl-storelocator.asl-cont .adp table,
#asl-storelocator.asl-cont .adp-list,
#asl-storelocator.asl-cont
  .asl-wrapper
  .sl-main-cont
  .asl-panel-inner
  .sl-main-cont-box
  .sl-list-wrapper
  .sl-list
  .sl-item
  .addr-sec
  .p-area
  .text-span,
#asl-storelocator.asl-cont
  .asl-wrapper
  .sl-main-cont
  .asl-panel-inner
  .sl-main-cont-box
  .sl-list-wrapper
  .sl-list
  .sl-item
  .addr-sec
  .p-area
  .text-span {
  font-family: var(--fontFamily) !important;
}
.gm-style {
  font: 400 11px var(--fontFamily) !important;
}

body.home #asl-storelocator.asl-cont #asl-map-canv {
  @apply h-[20svh] lg:h-[72vh];
}

body.page-id-26145 {
  @apply fixed left-0 right-0 top-0 h-[100svh] overflow-hidden;
}

body.page-id-26145 #asl-storelocator.asl-template-1 {
  @apply absolute 
    bottom-0 
    top-12 
    m-0 
    h-full
    w-full
    overflow-hidden
    p-0

    lg:top-[72px];
}

/* list */
.map-column-1 {
  @apply absolute 
    bottom-0 
    top-0
    h-full
    w-full
    overflow-hidden

    lg:relative 
    lg:top-0 
    lg:h-[calc(100vh-72px)] 
    lg:w-5/12;
}

/*  */
.map-column-1 .asl-panel-inner {
  @apply pb-32
  pt-64
  lg:pb-0
  lg:pt-72;
}

/* map */
.map-column-2 {
  @apply absolute 
    top-28
    z-10 
    h-36 
    w-full 
    shadow-lg

    lg:relative 
    lg:top-0 
    lg:h-[calc(100vh-72px)] 
    lg:w-7/12;
}

.map-column-1 .Filter_section {
  @apply sticky
    left-0 
    right-0 
    top-0 
    z-20 
    h-28 
    shadow-md 
    
    lg:h-72
    lg:pb-5 
    lg:pt-5;
}

.map-column-1 .Filter_section .search_filter {
  @apply relative mx-3 lg:mx-8;
}

.map-column-1 .Filter_section .search_filter__title {
  @apply mb-2 
    mt-0 
    pl-1
    pt-2
    text-3xl 
    font-bold 
    text-blue-900 
    
    lg:mb-3 
    lg:!text-4xl 
    xl:!text-5xl;
}

.map-column-1 .tw_card-container {
  @apply m-5 px-2.5 lg:m-10 lg:p-5;
}

.map-column-1 .tw_card-container .tw_card-info {
  @apply p-2.5 lg:p-5;
}

.map-column-2 #asl-map-canv {
  @apply h-full w-full;
}

:is(
    .stk-block-button,
    .stk-block-icon-button,
    .stk-block-pagination,
    .stk-block-load-more,
    .stk-block-posts
  ):not(.is-style-link)
  .stk-button {
  @apply justify-between;
}

.card-service:hover .stk-block-background {
  @apply !bg-blue-700;
}

#asl-storelocator.asl-cont.asl-template-0 .asl-wrapper .Filter_section {
  background: transparent;
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .asl-ddl-filters
  .asl-filter-cntrl
  .sl-dropdown-cont
  .btn-group
  .adropdown-menu
  li
  a {
  background-color: transparent !important;
}

#asl-storelocator.asl-cont.sl-category-tabs
  .asl-wrapper
  .Filter_section
  .asl-advance-filters
  .asl-tabs-ddl
  ul.adropdown-menu.multiselect-container
  li {
  background: transparent !important;
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .asl-ddl-filters
  .asl-filter-cntrl
  .sl-dropdown-cont
  .btn-group
  .adropdown-menu
  li.active
  a {
  border-radius: 6px;
  --sl-primary: #fff;
  /* Shadow/sm */
  box-shadow:
    0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  @apply !text-blue-600;
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .sl-main-cont
  .asl-panel-inner
  .Num_of_store {
  display: none !important;
}

body.page-id-26145 #asl-storelocator.asl-cont .asl-panel {
  @apply absolute bottom-0 left-0 right-0 top-0 overflow-scroll;
}

body.page-id-26145 #asl-storelocator.asl-cont .sl-main-cont .asl-panel-inner {
  @apply !bg-transparent;
}

#asl-storelocator.asl-cont
  .asl-wrapper
  .sl-main-cont
  .asl-panel-inner
  .sl-main-cont-box
  .sl-list-wrapper
  .sl-list
  .sl-item {
  border-bottom: none !important;
}

#asl-storelocator.asl-cont .sl-main-cont .asl-panel {
  border: none !important;
}

#asl-storelocator.asl-cont
  .asl-wrapper
  .sl-main-cont
  .asl-panel-inner
  .sl-main-cont-box
  .sl-list-wrapper
  .sl-list
  .sl-item {
  @apply !mb-4 !bg-white;

  border-radius: 12px;
  border: 1px solid var(--gray-200, #eaecf0);

  /* Shadow/sm */
  box-shadow:
    0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .asl-ddl-filters
  .asl-filter-cntrl
  .sl-dropdown-cont
  .btn-group
  .adropdown-menu
  li.active
  a
  label {
  color: #0b255c !important;
}

.asl-cont .gutters-40 {
  margin-right: -30px;
  margin-left: -30px;
}

.asl-cont .gutters-40 > .pol,
.asl-cont .gutters-40 > [class*="pol-"] {
  padding-right: 30px;
  padding-left: 30px;
}

.map-image {
  border-radius: 12px;
  border: 1px solid #eaecf0;

  /* Shadow/sm */
  box-shadow:
    0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  overflow: hidden;
}

#asl-storelocator.asl-cont.sl-category-tabs
  .asl-wrapper
  .Filter_section
  .asl-advance-filters
  .asl-tabs-ddl
  ul.adropdown-menu.multiselect-container
  > li
  > a
  > label[class="checkbox"] {
  font-size: 14px !important;
  font-weight: 600 !important;
  @apply text-gray-500;
}

#asl-storelocator.asl-cont .asl-wrapper .Filter_section .search_filter {
}

#asl-storelocator.asl-cont
  .sl-main-cont
  .asl-panel-inner
  .sl-main-cont-box
  ul.sl-list
  li.sl-item
  .sl-addr-sec
  h3 {
  color: #101828;
  text-shadow: 0px 0px 5px 0px #fff;

  /* Text md/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

#asl-storelocator.asl-cont.asl-template-0 .asl-wrapper .asl-advance-filters {
  @apply space-x-2 pt-2;
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .Filter_section
  .search_filter
  .sl-search-group
  .asl-search-address,
#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .Filter_section
  .search_filter
  .sl-search-group
  .asl-search-name {
  @apply border-slate-400;
}

#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .Filter_section
  .search_filter
  .sl-search-group
  .asl-search-address::placeholder,
#asl-storelocator.asl-cont.asl-template-0
  .asl-wrapper
  .Filter_section
  .search_filter
  .sl-search-group
  .asl-search-name::placeholder {
  font-size: inherit;
  @apply italic text-slate-400;
}

#asl-storelocator.asl-cont
  .asl-wrapper
  .Filter_section
  .search_filter
  .range_filter
  > label,
#asl-storelocator.asl-cont
  .asl-wrapper
  .Filter_section
  .search_filter
  .range_filter
  .asl-cntrl-lbl {
  @apply !hidden;
}

/* ******************* */

/* location container */
#field_3_69 {
  @apply mt-3;
}

.sportsmed__form-container {
  @apply rounded-none p-4 lg:rounded-[30px] lg:!py-9 lg:px-7;
}

.sportsmed__form--footer {
  @apply py-6 text-center text-xs;
}

.gform_page_footer {
  @apply flex justify-around space-x-3 md:!mb-3 md:!mt-2 md:justify-center md:!space-x-10;
}

.gform_page_footer .gform_ajax_spinner {
  @apply absolute right-6 top-6 z-20 h-5 w-5 rounded-full ring-4 ring-blue-50;
}

.image-choices-field.image-choices-show-labels .image-choices-choice-text {
  @apply w-full overflow-hidden overflow-ellipsis whitespace-nowrap px-5 text-left text-center md:text-center;
}

.gform_wrapper.gravity-theme .gform_footer,
.gform_wrapper.gravity-theme .gform_page_footer {
  /* --buttonFontSize: 24px; */
  @apply justify-around gap-3 pb-0;
}

.gform_button.button {
  @apply !m-0 w-1/2 !border-2 !border-solid !border-blue-600 !px-1 text-center text-base md:w-1/3 md:text-2xl;
}
.gform_next_button {
  @apply !m-0 w-1/2 !border-2 !border-solid !border-blue-600 !px-1 text-center text-base md:w-1/3 md:text-2xl;
}
.gform_previous_button {
  @apply w-1/2 !border-2 !border-solid !border-gray-300 !px-1 text-center text-base md:w-1/3 md:text-2xl;
}

.ic-theme--float-card .image-choices-choice .gform-field-label {
  @apply border-2 border-solid border-white bg-white;
}

.ic-theme--float-card .image-choices-choice-selected .gform-field-label {
  @apply border-2 border-solid border-blue-600;
}

.image-choices-field.image-choices-show-labels .image-choices-choice-text {
  @apply px-0;
}

/* **************** */

a[href^="tel:"]:not(.map-phone) {
  @apply mx-1 inline-block rounded-lg bg-white px-2.5 py-1 text-xl font-bold text-blue-600 no-underline hover:bg-blue-600 hover:text-white;
}

#asl-storelocator.asl-cont.asl-template-list
  .asl-search-cont
  .asl-sort-list
  .asl-sort-left
  ul
  li
  a.actv {
  @apply !bg-blue-700 !text-white;
}

#asl-storelocator.asl-cont .sl-pagination * {
  font-size: 16px;
}

#asl-storelocator.asl-cont.asl-template-list
  .asl-search-cont
  .asl-sort-list
  .asl-sort-left
  ul
  li
  a.sl-tab-opt {
  @apply font-medium;
  border: solid 2px #dee2e6 !important;
}

#asl-storelocator.asl-cont.asl-template-list
  .asl-search-cont
  .asl-search-inner
  .form-group
  .form-control {
  border: solid 2px #dee2e6 !important;
}

.sportsmed__form-container .gform_wrapper.gravity-theme input[type="text"],
.sportsmed__form-container .gform_wrapper.gravity-theme input[type="email"],
.sportsmed__form-container .gform_wrapper.gravity-theme select,
.sportsmed__form-container .gform_wrapper.gravity-theme input[type="tel"] {
  @apply block !h-12 w-full rounded-md border-0 !px-3 !text-xl !leading-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.sportsmed__form-container .gform_wrapper.gravity-theme textarea {
  @apply block w-full rounded-md border-0 !px-3 !text-xl !leading-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.gform_wrapper.gravity-theme .ginput_complex label,
.gform_wrapper.gravity-theme .ginput_complex legend {
  @apply !text-sm !text-gray-500;
}

.gform_wrapper.gravity-theme .gfield {
  @apply mt-0;
}

select,
textarea,
input[type="url"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
.ct-widget select,
fieldset .wc-stripe-elements-field {
  @apply bg-white !shadow-inner focus:bg-white;
}

.gform_wrapper.gravity-theme .gfield_label {
  @apply pt-4 text-xl tracking-tight text-blue-900 md:text-2xl;
}

/* 3rd page title */
#field_3_84 {
  @apply mb-0 md:mb-2;
}

.gform_wrapper.gravity-theme .gfield.gfield--width-five-sixths {
  @apply ![grid-column:12/0] md:![grid-column:12/2];
  /* grid-column: 12/2 !important; */
}

#gform_fields_3_3 {
  @apply gap-1;
}

.gform_wrapper.gravity-theme .field_sublabel_above .gfield_description {
  @apply text-center text-xl text-gray-600;
}

.gform_wrapper.gravity-theme .gfield.gfield--width-third .gfield_label {
  @apply m-0 p-0 text-xl font-medium text-blue-900;
}

.gform_wrapper.gravity-theme .gform_fields {
  align-items: end;
}
.gform_wrapper.gravity-theme .gfield.gfield--width-third {
  @apply p-0;
}

.gfield_checkbox {
  @apply flex flex-wrap;
}

.gfield_checkbox .gchoice:not(.image-choices-choice) {
  @apply w-1/2 py-1 md:w-1/3;
}

.gform_wrapper.gravity-theme .gform_page_footer input {
  @apply mb-0;
}

input[type="checkbox"].gfield-choice-input {
  @apply block h-5 w-5 rounded border-gray-300 bg-blue-300 text-blue-600 checked:bg-blue-700 focus:ring-blue-600;
}

/* .gf_progressbar_wrapper {
  @apply hidden;
} */

.gform_wrapper.gravity-theme .gsection {
  @apply mb-4 !border-none !p-0;
}
.gform_wrapper.gravity-theme .gsection_title {
  @apply m-0 p-0 leading-tight tracking-tight sm:text-4xl md:pb-0 md:pt-4 lg:ml-2 lg:pt-0 lg:text-5xl;
  font-size: min(8vw, 36px);
}

.gform_wrapper.gravity-theme .gsection_description {
  @apply !mb-0 !mt-1 p-0 leading-6 sm:text-lg md:!mb-0 md:!mt-2 lg:ml-2;
  font-size: min(4.75vw, 18px);
}

/* form page 2 */
#gform_fields_3_2 {
  @apply gap-0 md:gap-3;
}

/* image choices */
#input_3_18 {
  --ic-column-spacing: 10px;
  @apply gap-3;
}

.ic-theme--float-card .image-choices-choice .gform-field-label {
  @apply justify-normal;
}

/* Your Selected Sportsmed */
#field_3_62 {
  @apply hidden sm:block;
}

#gform_fields_3 {
  @apply gap-0 md:gap-2;
}

.gfc__card-container {
  @apply relative mb-0 flex flex-col-reverse items-center gap-4 overflow-hidden rounded-3xl bg-[#0a2d69] p-3 shadow-xl md:mb-4 md:flex-row md:gap-10 md:p-6;
}

.gfc__card-background-image {
  @apply absolute inset-0 z-0 opacity-10;
}

.gfc__card-text-section {
  @apply relative z-10 w-full px-2 md:w-1/2 lg:p-6;
}

.gfc__card-image-section {
  @apply relative z-10 h-48 w-full md:h-auto md:w-1/2 lg:mr-6;
}
.gfc__card-main-image {
  @apply h-full w-full rounded-xl object-cover md:h-full;
}

.gfc__card-title {
  @apply !mb-2 hidden pb-0 text-xl font-bold text-white md:block;
}

.gfc__card-main-heading {
  @apply !mb-2 !mt-0 text-3xl font-bold text-white md:text-5xl;
}

.gfc__card-address {
  @apply mb-1 text-xl leading-normal text-white md:mb-8 md:text-2xl;
}

.gfc__card-contact-info {
  @apply !mb-0 mt-4 !pb-0 text-base !leading-loose text-white md:text-lg;
}

.gfc__card-phone-link {
  @apply !text-lg md:!text-2xl;
}

.click-tap:before {
  @apply hidden md:inline;
  content: "click";
}
.click-tap:after {
  @apply inline md:hidden;
  content: "tap";
}

.tw_card-container,
.sl-no-item {
  @apply relative mb-5 cursor-pointer flex-col overflow-hidden rounded-lg border border-solid border-gray-200 bg-white p-4 shadow shadow-slate-400/30 transition-shadow hover:z-10 lg:mb-10;
}

.map-column-2 .tw_card-container {
  @apply p-2 lg:p-4;
}

.map-column-2 .tw_map-phone {
  @apply hidden lg:mb-2 lg:block;
}

.map-column-2 .tw_card-info {
  @apply flex-row;
}

.map-column-2 .tw_card-image {
  @apply hidden lg:block lg:h-20 lg:w-20;
}

.tw_card-container.tw_card-container__infobox {
  @apply mb-0 shadow-md;
}

.tw_card-image {
  @apply relative 
    z-10 
    mb-5 
    h-20 
    w-1/4 
    overflow-hidden 
    rounded-lg 
    border 
    border-solid 
    border-gray-200 
    bg-white 
    object-cover
    
    p-0.5
    shadow-sm
    
    lg:h-40 
    lg:w-2/5;
}

.map-column-1 .tw_card-image {
  @apply h-32 w-32;
}

.tw_card-container__tooltip .tw_card-info > div {
  @apply hidden lg:block;
}

.tw_card-container__tooltip .tw_card-info {
  @apply ml-9 p-0 lg:ml-0 lg:p-2;
}

.tw_card-container__tooltip .tw_card-image {
  @apply !h-16 !w-16;
}

.tw_card-content {
  @apply flex items-center justify-between;
}
.tw_card-header {
  @apply flex space-x-3;
}

.tw_card-logo {
  @apply w-[42px];
}

.tw_card-title {
  @apply text-lg font-medium leading-6 text-[--custom-color-title];
}

.tw_card-container__tooltip .tw_card-title {
  @apply text-base;
}

.tw_card-subtitle {
  @apply !text-xs text-[--custom-color-subtitle] lg:text-sm;
}

.tw_card-info {
  @apply px-3 py-4 text-[14px] font-medium leading-normal text-[--custom-color-subtitle] lg:text-[17px];
}

.map-column-1 .tw_card-title {
  @apply text-base;
}

.map-column-1 .tw_card-info {
  @apply text-[16px] lg:text-[17px];
}

.tw_map-phone {
  @apply mb-2 mt-2 flex items-center space-x-1;
}

.tw_card-footer {
  @apply -mx-5 
    -mb-5 
    flex 
    justify-between 
    border-t 
    border-solid
    border-gray-200
    bg-[#eaf5ff] 
    px-2.5
    py-2.5 
    lg:px-5 
    lg:py-3;
}

body.page-id-24695 .tw_card-footer {
  @apply flex-row-reverse;
}

.tw_btn-primary {
  @apply block 
    rounded 
    bg-[--custom-color-primary-blue] 
    px-2.5 
    py-1.5 
    text-[15px] 
    font-medium 
    text-white 
    hover:bg-blue-800 
    hover:text-white 
    lg:px-5 
    lg:text-[14px] 
    xl:text-[17px];
}

.tw_btn-secondary {
  @apply block 
    rounded 
    border 
    border-solid 
    border-gray-300 
    bg-white 
    px-2.5 
    py-1.5 
    text-[15px] 
    font-medium 
    text-[--custom-color-primary-blue] 
    hover:border-blue-800 
    hover:bg-blue-800 
    hover:text-white 
    lg:px-5 
    lg:text-[14px] 
    xl:text-[17px];
}

.tw_card-container__infobox .tw_btn-primary,
.tw_card-container__infobox .tw_btn-secondary {
  @apply px-3 py-1.5 text-[14px];
}

#gform_wrapper_3 .gf_page_steps {
  display: none;
}

.gform_wrapper.gravity-theme .gf_page_steps {
  @apply mb-0 w-full border-b-0 text-right text-[#6b7dc5] md:w-full;
}

/* .gf-page-numbers-container {
  @apply w-1/2 md:w-full;
} */
/* .stk-9ae3055-inner-blocks {
  @apply max-w-[50%];
} */

/* make appointment logo */
.stk-bb1797d {
  @apply ml-2;
}

.gform_wrapper.gravity-theme .gf_page_steps .gf_step:not(.gf_step_active) {
  @apply hidden md:inline-block;
}

.sportsmed__form-header-container {
  @apply !my-3;
}

.gform_wrapper.gravity-theme .gf_step {
  @apply mb-0 ml-0 mr-2 mt-3 md:mr-7 lg:ml-4;
}

.gform_wrapper.gravity-theme .gf_step_number {
  @apply h-7 w-7 border-2 border-[#6b7dc5] font-bold text-[#6b7dc5] lg:h-10 lg:w-10;
}

.gform_wrapper.gravity-theme .gf_step_label {
  @apply max-w-[44vw] overflow-hidden text-ellipsis whitespace-nowrap pl-2 font-bold md:pl-4;
}

.gform_wrapper.gravity-theme .gf_step.gf_step_active {
  @apply text-blue-200;
}

.gform_wrapper.gravity-theme .gf_step_active .gf_step_number {
  @apply border-none bg-blue-200 text-[#0a3177];
}

.gform_wrapper.gravity-theme .gf_step_completed .gf_step_number:before {
  @apply !h-[30px] w-[30px] border-[#6b7dc5] bg-[#0a3177] lg:!h-[40px] lg:w-[40px];
}
.gform_wrapper.gravity-theme .gf_step_completed .gf_step_number:after {
  @apply !h-[28px] w-[25px] text-[#6b7dc5] lg:!h-[39px] lg:w-[36px];
}

.asl-search .asl-search-cont {
  @apply !bg-transparent !p-0;
}

.asl-cont.asl-search {
  font-family: inherit !important;
}

.asl-cont.asl-search .btn-primary {
  background-color: #1470ef !important;
  font-weight: 500 !important;
  font-size: 18px;
  @apply !rounded-br-md !rounded-tr-md;
}

.asl-search .asl-search-cntrl {
  font-size: 18px !important;
  @apply !rounded-bl-md !rounded-tl-md;
}

#asl-storelocator.asl-cont
  .asl-wrapper
  .Filter_section
  .search_filter
  .sl-search-group
  .asl-search-clr {
  @apply !bg-transparent;
}

#gform_wrapper_2.gform-theme--framework .gfield_list_group_item:before,
.gform-theme--framework .gform-field-label,
.gform-theme--framework
  .field_description_above
  .gfield_description:where(
    [class="gfield_description"],
    .gfield_creditcard_warning_message
  ),
.gform-theme--framework
  .field_description_above
  .gfield_description:where(
    :not([class="gfield_description"]):not(.ginput_counter_tinymce):not(
        .gfield_creditcard_warning_message
      ):not(.gfield_consent_description)
  ) {
  @apply !text-white;
}

#gform_wrapper_2.gform-theme--framework .gform-field-label > .gfield_required {
  @apply !text-yellow-400;
}

#resumator-jobs {
  display: flex;
  flex-wrap: wrap;
}
.resumator-job {
  width: 50%;
}

.kb-splide .splide__arrow--prev {
  @apply !-left-8 lg:!-left-10 xl:!-left-14;
}

.kb-splide .splide__arrow--next {
  @apply !-right-8 lg:!-right-10 xl:!-right-14;
}

/* ***** FORCE ALL THE RESPONSIVENESS ****** */

.ct-container {
  @apply w-full max-w-[1290px] px-5 xl:px-2.5;
}

.stk--block-horizontal-flex.stk--column-flex.stk-block-content.stk-inner-blocks.stk-59a286d-inner-blocks {
  @apply flex-col space-y-5 lg:flex-row lg:space-y-0;
}

.stk-a889bdb {
  @apply px-0 lg:px-5;
}
.stk-a889bdb-inner-blocks {
  @apply flex-wrap gap-0 space-y-3 !px-0 lg:flex-nowrap lg:gap-4 lg:space-x-0;
}
.stk-a889bdb-inner-blocks .stk-block-image {
  @apply w-1/4 px-2 md:w-1/12 md:px-0 lg:w-full;
}

.stk-b9336ad img,
.stk-5f7d6e0 img {
  @apply object-left md:object-center;
}
/* 
  --stk-block-margin-bottom: 24px;
  --stk-container-background-color: #fff;
  --stk-container-border-radius: 0px;
  --stk-container-box-shadow: 0px 4px 24px #0000000a;
  --stk-container-color: #1e1e1e;
  --stk-container-padding: 32px 32px;
  --stk-container-padding-large: 64px 80px;
  --stk-container-padding-small: 16px 32px;
  --stk-column-margin: 12px;
  --stk-block-background-color: #f1f1f1;
  --stk-block-background-padding: 24px 24px;
  --stk-button-background-color: #008de4;
  --stk-button-padding: 12px 16px;
  --stk-icon-button-padding: 12px;
  --stk-button-text-color: #fff;
  --stk-button-gap: 12px;
  --stk-button-ghost-border-width: 2px;
  --stk-button-column-gap: 12px;
  --stk-button-row-gap: 12px;
  --stk-icon-size: 36px;
  --stk-icon-color: #a6a6a6;
  --stk-icon-shape-color: #ddd;
  --stk-subtitle-size: 16px;
  --stk-subtitle-color: #39414d;
  --stk-tab-accent-color: #008de4; 
*/

#footer .ct-container {
  @apply flex justify-between;
}

body.home #asl-storelocator.asl-cont #asl-panel {
  @apply h-[44vh] overflow-y-scroll lg:h-[72vh];
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body.home #asl-storelocator.asl-cont #asl-panel::-webkit-scrollbar {
  display: none;
}

/* spacer */
.stk-63367dd {
  @apply hidden lg:block;
}

.wp-block-stackable-columns.alignfull.stk-block-columns.stk-block.stk-f8bfd94 {
  /* @apply h-screen w-full overflow-hidden; */
}

.wp-block-stackable-columns.alignfull.stk-block-columns.stk-block.stk-f8bfd94
  > .stk-row {
  @apply sticky top-0 z-10;
}

.ct-drawer-canvas .ct-widget.widget_block > p {
  @apply hidden;
}

.ct-drawer-canvas .mobile-menu {
  @apply mt-0 columns-2 gap-[10px] px-2.5 md:columns-3;
}

.ct-drawer-canvas .mobile-menu .ct-menu-link {
  @apply mx-1 mb-2.5 rounded-md border border-solid border-slate-200 bg-white py-2.5 shadow shadow-slate-200/30;
}

.ct-drawer-canvas .mobile-menu .menu-item-22961 .sub-menu {
  @apply hidden;
}

#offcanvas {
  @apply !bg-[#E0EFFF]/90 !backdrop-blur-sm;
}

#offcanvas .ct-panel-content {
  @apply p-0 md:p-5;
}

#offcanvas .ct-panel-content .site-logo-container {
  @apply -ml-5;
}

#offcanvas .ct-panel-content > * {
  @apply m-0 my-1 md:my-4;
}
